[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.5"
djangorestframework = "*"
djangorestframework-simplejwt = "==5.3.0"
drf-yasg = "==1.21.7"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.11"
